<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.Services.AppAuthentication" version="1.0.3" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.19.8" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net462" />
  <package id="Sitecore.DataExchange.DataAccess.NoReferences" version="2.0.180108" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.DataExchange.NoReferences" version="2.0.180108" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Services.Core.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.4.403061554" targetFramework="net462" />
  <package id="WindowsAzure.ServiceBus" version="5.0.2" targetFramework="net462" />
</packages>